body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.contenedor {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.caja {
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
}

.destacada {
  background: yellow;
}

.btn {
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  background-color: aqua;
}

ul {
  margin-top: 10px;
}

.boxHover {
  width: 200px;
  height: 100px;
  background-color: #ccc;
  margin-top: 10px;
}
