/* ESTILOS GENERALES */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 40px;
}

section {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 10px;
}

/* CONTENEDORES */
.contenedor {
  border: 2px dashed #999;
  padding: 10px;
  height: 150px;
}

/* ITEMS */
.item {
  background: #4f46e5;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

/* =========================
   BLOQUE 1
   ========================= */

.contenedor-1 {
  display: flex; /* Activa Flexbox */
  flex-direction: row; /* Eje principal horizontal */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alineación vertical */
}

/* =========================
   BLOQUE 2
   ========================= */

.contenedor-2 {
  display: flex;
  flex-direction: column; /* Eje principal vertical */
  flex-wrap: wrap; /* Permite salto de línea */
  gap: 10px; /* Espacio entre items */
}

/* =========================
   BLOQUE 3
   ========================= */

.contenedor-3 {
  display: flex;
  align-items: flex-start;
}

.contenedor-3 .item {
  flex: 1 1 100px; /* grow | shrink | basis */
}

.item-first {
  background: #07eb12;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

.contenedor-3 .especial {
  flex-grow: 2; /* Crece más que los demás */
  order: -1; /* Cambia el orden visual */
  align-self: center; /* Alineación individual */
  background: #16a34a;
}
